:root{
  --color:#2fc18c;;
}

* {
  box-sizing: border-box;
  font-family: Oxanium, cursive;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family:-apple-system, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url('https://img5.goodfon.com/wallpaper/nbig/7/51/kasety-muzyka-fon-1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  margin: 0;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.divInput{
  text-align: center;
  margin-top: 20px;
  display:flex;
  flex-flow: column;
}

.divInput button{
  width: 20%;
  margin: 10px auto;
  letter-spacing: 2px;
  
}
.titulo {
  text-align: center;
  font-size: 40px;
  color:#2fc18c;
  font-weight: 900;
}

h1 {
  text-align: center;
  color:var(--color)
}
h2{
  color:var(--color)
}
a {
  color: white;
  margin: 2px;
  text-decoration:none;

}

input {
  border-radius: 3px;
  color: blue;
  cursor: pointer;
  opacity: 90%;
  padding: 4px;
}

button {
  background-color: rgb(158, 154, 154);
  border-radius: 8px;
  color: black;
  cursor: pointer;
  font-weight: 600;
  padding: 4px;

}

button:hover {
  background-color:#2fc18c;
  opacity: 0.7;
  transition: 0.5s;
}

.naoEncontrado {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 80%;
  margin: 0 auto;

}

.divAlbum {
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  margin: 10px;
  color:var(--color);
  min-width: 5rem;
  width: 10rem;
  gap: 1rem;
}
.divAlbum img{
width: 10rem;
}

.divAlbum p{
  padding-bottom: 15px;
  font-size: 1.5rem;
  text-align: center;
}
.divAlbum:hover{
  opacity: 0.7;
  transition: 0.8s;
  transform: translateY(-2rem);
  font-weight:900;
}